@media all and (max-width: 600px) {
  .hero .mobile-hero {
    max-height: 700px;
    min-height: 700px;
  }

  .hero .standing-girl {
    display: none;
  }

  .hero .layer-three {
    margin-left: 38vw;
  }

  .hero h1 {
    font-size: 8vw;
  }

  .hero h3 {
    font-size: 13px;
  }

  section.hero {
    height: 500px;
    min-height: 500px;
  }

  .hero .hero-artboard {
    left: 7vw;
    top: 150px;
    margin-top: 9vh;
    padding-top: 12vw;
    width: 38vw;
  }

  .text-block .about-header {
    font-size: 36px;
  }

  .text-block .about-body {
    font-size: 16px;
    width: 100%;
  }

  .sittingWoman {
    width: 150px;
    transform: translateX(6px) translateY(-4px);
  }

  div.rectangles.sixth.img-space {
    /* background-position: left 20%; */
    padding-left: 0;
    height: 45vh;
    min-height: 300px;
  }

  .rectangles img {
    align-self: flex-start;
  }

  section.services {
    margin-top: -22vh;
  }

  .sittingWoman {
    top: -70px;
    right: 5px;
  }

  .services .mobile-services {
    height: 132%;
    max-height: 900px;
  }

  .services-text-wrapper .services-para {
    font-size: 16px;
    width: 95%;
  }

  .graph-container {
    height: 50vh;
    min-height: 300px;
  }

  .graphBlob {
    font-size: 0.7em;
  }

  section.industry {
    margin-top: 120px;
  }

  .industry .industry-content {
    width: 95vw;
    margin: auto;
    padding-top: 3vh;
    padding-left: 20px;
  }

  .industry .industry-title {
    font-size: 9vw;
    width: 100%;
    padding-top: 30px;
  }

  .industry .brandbox {
    width: 100%;
    max-width: 99vw;
  }

  .industry .brandbox img {
    min-width: 32%;
  }

  section.knowMore {
    min-height: 800px;
    max-height: 850px;
  }

  section.knowMore .knowMore-flex-wrapper {
    margin-top: 5vh;
  }

  section.knowMore .knowMore-flex-wrapper .knowMore-text {
    margin-bottom: 15px;
    margin-left: 5vw;
    max-width: 90vw;
  }

  section.knowMore .knowMore-flex-wrapper .knowMore-graphic {
    max-width: 90vw;
    margin-left: -20px;
  }
}

@media all and (min-width: 450px) {
  section.knowMore {
    height: 900px;
  }
}
