* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw !important;
  overflow-x: hidden;
}

.logo .desktop {
  display: inline-block;
}

.logo .mobile {
  display: none;
}

.nav {
  /* border: solid; */
  height: 90px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3vw 1rem 3vw;
}

.nav .nav-menu {
  display: flex;
  justify-content: center;
  width: 25%;
}

.nav-links {
  display: flex;
  flex: 1;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  color: white;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 16px;
}

section {
  /* border: solid; */
  position: relative;
}

section svg {
  z-index: -1;
}

section.knowMore svg {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
}

section.hero {
  height: calc(100vh - 70px);
  width: 100%;
  min-height: 700px;
  max-height: 1100px;
  position: relative;
  z-index: 0;
}

.hero svg {
  height: 90vh;
  width: 100vw;
  position: absolute;
}

svg[class*="mobile"] {
  display: none;
}

svg[class*="desktop"] {
  display: block;
  min-height: 55vw;
}

section.about {
  height: auto;
  padding: 8rem 1rem 0rem 1rem;
}

section.services {
  height: 100%;
  margin-top: -20vmin;
  position: relative;
  bottom: 0;
  min-height: 200vh;
}

.services svg {
  position: absolute;
  top: 0;
  /* display: none; */
  /* z-index: 100; */
}

/* .services svg path:hover {
  fill: red !important;
} */

section.industry {
  height: 70vmax; /* change me */
}

section.knowMore {
  height: 120vh;
  bottom: 0;
}

footer {
  background-color: #f6f6f6;
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
}

footer .wrapper {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

footer .wrapper .footer-list {
  list-style: none;
  text-align: center;
}

footer .wrapper .footer-list li > * {
  text-decoration: none;
  color: rgb(17, 17, 17);
  font-size: 17px;
  font-family: "Museo Sans 300";
  line-height: 1.3;
}

footer .wrapper .footer-list li h4 {
  font-size: 1.2rem;
  padding-bottom: 0.6rem;
}

.hero-text-wrapper {
  /* background-color: royalblue; */
  /* border: thick solid; */
  top: 150px;
  position: absolute;
  width: 95vw;
  padding-left: 30px;
  display: flex;
  justify-content: flex-end;
}

.hero-text-container {
  position: relative;
  /* top: 150px; */
  width: max-content;
  /* background-color: red; */
}

[class^="layer"] {
  position: relative;
  margin-bottom: 2vmin;
}

.layer-one {
  left: 0;
}

.layer-two {
  margin-left: 10vw;
  /* background-color: saddlebrown; */
}

.layer-three {
  margin-left: 20vw;
  width: max-content;
}

.layer-three h1 {
  padding-bottom: 20px;
}

.cta {
  color: black;
  text-decoration: none;
  font-family: "Poppins";
  background-color: white;
  text-align: center;
  white-space: nowrap;
  border-radius: 26px;
  font-size: 1rem;
  padding: 0.6rem 1.8rem;
  float: right;
  animation: heroH1 1s ease forwards;
  animation-delay: 1.2s;
  transform: translateX(50vw);
  opacity: 0;
}

.hero-text-container h1 {
  color: white;
  font-family: "Poppins";
  font-size: 6vmax;
  line-height: 1.3;
  animation: heroH1 1s ease forwards;
  animation-delay: 0.5s;
  transform: translateX(50vw);
  opacity: 0;
}

.layer-one h1 {
  animation-delay: 0.5s;
}
.layer-two h1 {
  animation-delay: 0.8s;
}
.layer-three h1 {
  animation-delay: 1.2s;
}

.hero-text-container h3 {
  color: whitesmoke;
  opacity: 0;
  line-height: 1.3;
  font-family: "Museo Sans 700";
  font-size: 1.7vmax;
  animation: heroH3 1s ease forwards;
  animation-delay: 2s;
}

@keyframes heroH3 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes heroH1 {
  from {
    opacity: 0;
    transform: translateX(50vw);
  }

  to {
    opacity: 1;
    transform: translateX(0vw);
  }
}

.hero-artboard {
  /* display: none; */
  position: absolute;
  left: 6vw;
  top: 40vh;
  width: 24vw;
  max-width: 350px;
  opacity: 0;
  animation: slideFromLeft 1.5s ease forwards;
  animation-delay: 1.5s;
}

.standing-girl {
  /* display: none; */
  position: absolute;
  bottom: 0vh;
  left: 32vw;
  max-height: 38vh;
  animation: slideFromLeft 1.5s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.about-content {
  width: 95%;
  max-width: 1400px;
  margin: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.img-space {
  flex-grow: 1;
  width: 50%;
  min-height: 300px;
  max-height: 300px;
  background-color: transparent;
  /* border: dashed green; */
}

.text-block {
  flex-grow: 1;
  width: 50%;
  height: auto;
  min-height: 200px;
  background-color: transparent;
  /* border: dotted pink; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* justify-content: center; */
}

.text-block .about-header {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  margin-bottom: 15px;
  /* white-space: pre-line; */
  /* width: 100%; */
  /* border: solid; */
}

.first > * {
  position: relative;
  transform: translateY(-50px);
}

.text-block .about-body {
  font-family: "Museo Sans 300", "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.35;
  max-width: 550px;
  width: 90%;
  /* border: solid; */
}

.rectangles {
  background-image: url(/src/img/svgGraphics/rectangles.svg);
  background-repeat: no-repeat;
  background-position: 30% center;
  background-size: 75%;
  min-height: 450px;
}

.sittingWoman {
  width: 200px;
  /* min-width: 200px; */
  position: absolute;
  top: -100px;
  right: 20px;
  z-index: 2;
}

.house {
  background-image: url(/src/img/svgGraphics/houseDesktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
}

.multi-board {
  background-image: url(/src/img/svgGraphics/desktopMultiboard.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 400px;
}

.abstract {
  display: none;
}

.services-content {
  padding-top: 35vmax;
  width: 100vw;
}

.services-text-wrapper {
  position: relative;
  /* padding-top: 40px; */
  padding-left: 50px;
  color: white;
  margin: auto;
  max-width: 1350px;
}

.services-text-wrapper .services-title {
  font-family: "poppins", sans-serif;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.services-text-wrapper .services-para {
  font-family: "Museo Sans 300";
  font-size: 19px;
  max-width: 450px;
}

.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  width: 97vw;
  position: relative;
  margin: auto;
  top: 100px;
  /* overflow: hidden; */
  /* pointer-events: none; */
  /* z-index: -1; */
}

.graph-container .graph {
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: unset !important;
  /* background-color: green; */
  pointer-events: all;
  z-index: 2;
}

.graph-container .mobile {
  display: none;
  z-index: 2;
}

.graph-points {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: dotted pink;
  /* display: none; */
  opacity: 0.1;
  z-index: 2;
}

.graphBlob {
  /* font-size: 2.5vmin; */
  font-family: "poppins", sans-serif;
  font-weight: 500;
  display: inline-block;
  visibility: visible;
  fill: whitesmoke;
  line-height: 1.15;
  letter-spacing: 1.5;
  text-align: center;
  cursor: pointer;
  width: min-content;
  font-size: 1.4em;
}

.graphBlob:hover {
  fill: rgb(19, 27, 146);
}

.graph-points span.service {
  position: absolute;
  font-family: "poppins";
  font-weight: 500;
  color: whitesmoke;
  letter-spacing: 0.2mm;
  width: min-content;
  text-align: center;
  line-height: 1.15;
  font-size: 2vmin;
}

/* .graph-points #Innovation {
  top: 22%;
  left: 47%;
}

.graph-points #Branding {
  top: 28%;
  left: 61%;
}
.graph-points #Sensory {
  top: 40%;
  left: 38%;
}
.graph-points #Ethno {
  top: 40%;
  left: 64%;
}

.graph-points #Equity {
  top: 45%;
  left: 53%;
}
.graph-points #Customer {
  top: 55%;
  left: 47%;
}
.graph-points #User {
  top: 65%;
  left: 30%;
}
.graph-points #Relationships {
  top: 65%;
  left: 58%;
}
.graph-points #Design {
  top: 75%;
  left: 65%;
}
.graph-points #Product {
  top: 80%;
  left: 35%;
}
.graph-points #SPAM {
  top: 80%;
  left: 58%;
} */
