@import "iconfont/material-icons.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw !important;
  overflow-x: hidden;
}

.logo .desktop {
  display: inline-block;
}

.logo .mobile {
  display: none;
}

.nav {
  /* border: solid; */
  height: 90px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3vw 1rem 3vw;
}

.nav .nav-menu {
  display: flex;
  justify-content: center;
  width: 25%;
}

.nav-links {
  display: flex;
  flex: 1;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  color: white;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 16px;
}

section {
  /* border: solid; */
  position: relative;
}

section svg {
  z-index: -1;
}

section.knowMore svg {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.desktop-knowMore {
  min-height: 800px;
}

section.hero {
  height: calc(100vh - 70px);
  width: 100%;
  min-height: 900px;
  max-height: 1100px;
  position: relative;
  z-index: 0;
}

.hero svg {
  height: 90vh;
  width: 100vw;
  position: absolute;
}

svg[class*="mobile"] {
  display: none;
}

svg[class*="desktop"] {
  display: block;
  min-height: 55vw;
}

section.about {
  height: auto;
  padding: 8rem 1rem 0rem 1rem;
}

section.services {
  margin-top: -20vmin;
  position: relative;
  bottom: 0;
}

.services svg {
  position: absolute;
  top: 0;
}

/* .services svg path:hover {
  fill: red !important;
} */

section.industry {
  height: auto; /* change me */
  /* border: solid; */
  margin-top: 12vmax;
}

section.knowMore {
  height: 120vh;
  bottom: 0;
  margin-top: -17vh;
  min-height: 900px;
}

footer {
  background-color: #f6f6f6;
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
}

footer .wrapper {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

footer .wrapper .footer-list {
  list-style: none;
  text-align: center;
}

footer .wrapper .footer-list li > * {
  text-decoration: none;
  color: rgb(17, 17, 17);
  font-size: 17px;
  font-family: "Museo Sans 300";
  line-height: 1.3;
}

footer .wrapper .footer-list li h4 {
  font-size: 1.2rem;
  padding-bottom: 0.6rem;
}

.hero-text-wrapper {
  /* background-color: royalblue; */
  /* border: thick solid; */
  top: 150px;
  position: absolute;
  width: 95vw;
  padding-left: 30px;
  display: flex;
  justify-content: flex-end;
}

.hero-text-container {
  position: relative;
  /* top: 150px; */
  width: max-content;
  /* background-color: red; */
}

[class^="layer"] {
  position: relative;
  margin-bottom: 2vmin;
}

.layer-one {
  left: 0;
}

.layer-two {
  margin-left: 10vw;
  /* background-color: saddlebrown; */
}

.layer-three {
  margin-left: 20vw;
  width: max-content;
  display: flex;
  flex-direction: column;
}

.layer-three h1,
.layer-three h3 {
  display: block;
  flex-shrink: 0;
  width: 100%;
}

.layer-three h1 {
  padding-bottom: 20px;
}

.cta {
  align-self: flex-end;
  width: 140px;
  max-width: 15vw;
  flex-grow: 0;
  color: white;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: Medium;
  background-image: linear-gradient(to right, #f3627f, #f09d62);
  text-align: center;
  white-space: nowrap;
  border-radius: 26px;
  font-size: 1rem;
  padding: 0.6rem 1.8rem;
  /* margin-top: 20px; */
  /* float: right; */
  animation: heroH1 1s ease forwards;
  animation-delay: 1.2s;
  transform: translateX(50vw);
  opacity: 0;
}

.hero-text-container h1 {
  color: white;
  font-family: "Poppins";
  font-size: 6vmax;
  line-height: 1.3;
  animation: heroH1 1s ease forwards;
  animation-delay: 0.5s;
  transform: translateX(50vw);
  opacity: 0;
}

.layer-one h1 {
  animation-delay: 0.5s;
}
.layer-two h1 {
  animation-delay: 0.8s;
}
.layer-three h1 {
  animation-delay: 1.2s;
}

.hero-text-container h3 {
  color: whitesmoke;
  opacity: 0;
  line-height: 1.3;
  font-family: "Museo Sans 700";
  font-size: 1.7vmax;
  animation: heroH3 1s ease forwards;
  animation-delay: 2s;
}

@keyframes heroH3 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes heroH1 {
  from {
    opacity: 0;
    transform: translateX(50vw);
  }

  to {
    opacity: 1;
    transform: translateX(0vw);
  }
}

.hero-artboard {
  /* display: none; */
  position: absolute;
  left: 6vw;
  top: 40vh;
  width: 24vw;
  max-width: 350px;
  opacity: 0;
  animation: slideFromLeft 1.5s ease forwards;
  animation-delay: 1.5s;
}

.standing-girl {
  /* display: none; */
  position: absolute;
  bottom: 0vh;
  left: 32vw;
  max-height: 38vh;
  animation: slideFromLeft 1.5s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.about-content {
  width: 95%;
  max-width: 1400px;
  margin: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.img-space {
  flex-grow: 1;
  width: 50%;
  min-height: 300px;
  max-height: 550px;
  background-color: transparent;
  /* border: dashed green; */
  display: flex;
  justify-content: center;
  overflow: visible;
}

.text-block {
  flex-grow: 1;
  width: 50%;
  height: auto;
  min-height: 200px;
  background-color: transparent;
  /* border: dotted pink; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* justify-content: center; */
}

.text-block .about-header {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  margin-bottom: 15px;
  /* white-space: pre-line; */
  /* width: 100%; */
  /* border: solid; */
}

.first > * {
  position: relative;
  transform: translateY(-50px);
}

.text-block .about-body {
  font-family: "Museo Sans 300", "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.35;
  max-width: 550px;
  width: 90%;
  /* border: solid; */
}

.rectangles {
  min-height: 400px;
}

.rectangles img,
.rectangles svg {
  width: 38vmax;
  max-width: 550px;
  align-self: flex-start;
}

.img-space.sixth {
  justify-content: flex-start;
  padding-left: 3vw;
}

.sittingWoman {
  width: 200px;
  /* min-width: 200px; */
  position: absolute;
  top: -100px;
  right: 20px;
  z-index: 2;
}

.house {
  min-height: 400px;
  z-index: 1;
  transform: translateY(-30px);
}

#houseStroke {
  stroke-dasharray: 765;
  stroke-dashoffset: 765;
}

.multi-board {
  /* background-image: url(/src/img/svgGraphics/desktopMultiboard.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
  /* min-height: 400px; */
  height: 100%;
  z-index: 1;
}

.abstract {
  display: none;
}

.services-content {
  width: 100vw;
  padding-top: 20vw;
  position: relative;
  top: 50px;
}

@media all and (min-width: 1000px) {
  .graph-section {
    padding-top: 60px;
  }

  .services-content {
    top: 30px;
  }
}

.desktop-services {
  height: 120%;
  width: 100%;
}

.services-text-wrapper {
  position: relative;
  /* padding-top: 40px; */
  padding-left: 50px;
  color: white;
  margin: auto;
  max-width: 1350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-text-wrapper .services-title {
  font-family: "poppins", sans-serif;
  font-size: 3.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.services-text-wrapper .services-para {
  font-family: "Museo Sans 300";
  font-size: 19px;
  width: 50vw;
  max-width: 700px;
  min-width: 550px;
  text-align: center;
  padding-bottom: 20px;
}

.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 95vmax;
  height: 95vmin;
  max-height: 80vmax;
  position: relative;
  margin: auto;
  top: 0vmax;
  /* overflow: hidden; */
  /* pointer-events: none; */
  z-index: 2;
  min-height: 700px;
  /* opacity: 0; */
}

.graph-container .graph {
  width: 100%;
  height: 100%;
  min-height: unset !important;
  /* background-color: green; */
  pointer-events: all;
  z-index: 1;
}

.graph-container .mobile {
  display: none;
  z-index: 2;
}

.graphBlob {
  /* font-size: 2.5vmin; */
  font-family: "poppins", sans-serif;
  font-weight: 500;
  display: inline-block;
  visibility: visible;
  fill: whitesmoke;
  line-height: 1.15;
  letter-spacing: 1.5;
  text-align: center;
  cursor: pointer;
  width: min-content;
  font-size: 1.4em;
}

.graphBlob:hover {
  fill: rgb(19, 27, 146);
}

.graph-points span.service {
  position: absolute;
  font-family: "poppins";
  font-weight: 500;
  color: whitesmoke;
  letter-spacing: 0.2mm;
  width: min-content;
  text-align: center;
  line-height: 1.15;
  font-size: 2vmin;
}

.popup {
  background-color: white;
  width: 250px;
  height: max-content;
  border-radius: 25px;
  border-top-left-radius: 0;
  z-index: 999;
  transform: scale(1);
  /* margin: auto; */
  color: black;
  /* border: solid red; */
  position: absolute;
  /* top: 1000px; */
  /* margin-left: 50px; */
  transition: all 0.6s ease;
  overflow: hidden;
}

.popup .cross {
  display: none;
}

.popup-title {
  font-family: "poppins";
  padding-left: 2rem;
  padding-top: 0.5rem;
  font-weight: 500;
}

.popup-list {
  list-style-position: outside;
  padding-left: 1.75rem;
  padding-top: 15px;
  font-family: "poppins";
  line-height: 1.5;
  padding-bottom: 20px;
}

.popup-list li {
  padding-left: 0.25rem;
}

.popup-bottom {
  width: 100%;
  height: 27%;
  position: relative;
  bottom: 0;
  background-color: rgb(237, 239, 241);
  padding-bottom: 0.5rem;
}

.popup-bottom h5 {
  font-size: 18px;
  font-family: "poppins";
  font-weight: 500;
  padding-left: 2rem;
  padding-top: 0.2rem;
}

.popup-bottom p {
  font-family: "Poppins";
  padding-left: 2rem;
  font-size: 14px;
}

.popup-bottom .popup-link {
  width: max-content;
  display: inline-block;
  color: rgb(29, 52, 116);
  text-decoration: underline;
  cursor: pointer;
}

.fade-out:not(:hover) {
  animation: fadeout 2s ease forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
    pointer-events: all;
  }

  65% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.industry .industry-title {
  font-family: "Poppins";
  font-size: 3.5rem;
  width: 85%;
  padding-bottom: 20px;
  font-weight: bolder;
}

@media all and (min-width: 1500px) {
  .industry .industry-title {
    font-size: 5rem;
  }
}

.industry-content {
  width: max-content;
  padding-top: 50px;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.brandbox {
  height: 270px;
  width: 80%;
  max-width: 90vw;
  /* border: solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.brandbox img {
  flex-grow: 1;
  width: 16%;
  height: 80px;
  object-fit: contain;
  filter: grayscale();
  opacity: 0;
  transition: 1s ease;
  animation: none;
  /* background-color: rgb(235, 235, 235);
  border-radius: 20px; */
}

@media all and (max-width: 800px) {
  .brandbox {
    width: 90vw;
    height: auto;
  }
  .brandbox img {
    flex-grow: 1;
    width: 32%;
  }
}
@media all and (max-width: 450px) {
  .brandbox img {
    text-align: left;
    flex-grow: 1;
    width: 45%;
  }
}

.brandbox img.active {
  animation: reveal 1.5s ease-in-out forwards;
}

@keyframes reveal {
  0% {
    opacity: 0;
    filter: grayscale();
  }

  60% {
    opacity: 1;
    filter: none;
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    filter: none;
    opacity: 1;
  }
}

.knowMore::before {
  content: "";
  position: relative;
  padding-top: 375px;
  width: 100%;
  display: block;
}

.knowMore .knowMore-flex-wrapper {
  width: 100%;
  height: 65vmin;
  min-height: 500px;
  /* border: dotted lime; */
  display: flex;
  align-items: center;
  max-height: 900px;
  margin-top: 5vh;
}

.knowMore .knowMore-text {
  flex: 3;
}

.knowMore .knowMore-graphic {
  flex: 5;
  height: 100%;
}

.knowMore .knowMore-graphic svg {
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: static;
  z-index: 1;
  max-height: 800px;
}

.knowMore-text {
  margin-left: 5vw;
  color: white;
}

.knowMore-title {
  font-family: "poppins";
  font-size: 4vw;
  padding-bottom: 15px;
}

.knowMore-body {
  font-family: "Museo Sans 300";
  font-size: 16px;
  max-width: 500px;
  padding-bottom: 30px;
}

@media all and (min-width: 1500px) {
  .knowMore::before {
    padding-top: 25vw;
  }

  .knowMore .knowMore-title {
    font-size: 4rem;
  }

  .knowMore .knowMore-text {
    flex: 4;
  }
}

.button-group button {
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 26px;
  font-family: "poppins";
  letter-spacing: 0.1mm;
}

.button-group .knowMore-case {
  font-weight: 500;
  background-color: #f85575;
  color: white;
  margin-right: 15px;
}

.button-group .knowMore-contact {
  background-color: transparent;
  border: solid 2px;
  color: white;
  border-color: white;
}

.rect-draw-stroke {
  stroke-dasharray: 756;
  stroke-dashoffset: -756;
}

.circ-draw-stroke {
  opacity: 1;
  stroke-dasharray: 107;
  stroke-dashoffset: 107;
}

/* .solid-rect {
  opacity: 0;
  filter: blur(3px);
  animation: opacityFill 3s ease forwards;
  animation-delay: 2s;
} */

[class^="ball"] {
  opacity: 0;
  animation: opacityFill 2s ease forwards;
}

@keyframes drawSelf {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes opacityFill {
  to {
    opacity: 1;
    filter: blur(0px);
  }
}
/* 
.location {
  transform: translateX(30px);
  fill: pink;
} */

.sidebar {
  display: none;
}
