@media all and (max-width: 900px), all and (orientation: portrait) {
  section.about {
    padding-top: 1rem;
  }

  svg[class*="desktop"] {
    display: none;
  }

  svg[class*="mobile"] {
    display: block;
    min-height: 800px;
  }

  .graph-container svg[class*="mobile"] {
    display: block;
    min-height: unset;
  }

  .mobile-popup {
    width: 60vw;
    min-width: 290px;
    max-width: 400px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    min-height: 250px;
    /* max-height: 500px; */
    top: 35vh;
    opacity: 1;
    pointer-events: all;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    overflow: visible;
    z-index: 99;
    transform: scale(1);
  }

  .dimmer {
    position: fixed;
    top: 0;
    width: 200vw;
    min-width: 200vw;
    min-height: 150vh;
    height: 200vh;
    background-color: rgb(30, 28, 34);
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    transition: 0.3s ease;
  }

  .mobile-popup .popup-bottom {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    flex: 1;
    align-self: flex-end;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .mobile-popup .cross {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 24px;
    height: 24px;
    /* border: dotted; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-popup .cross i {
    font-size: 34px;
  }

  ul.popup-list {
    width: 100%;
  }

  .popup-bottom .popup-link {
    margin-right: 15px;
  }

  .popup-hidden {
    pointer-events: none;
    opacity: 0;
  }

  .sittingWoman {
    top: -80px;
  }

  .nav .nav-menu .nav-links {
    display: none;
  }

  .nav .logo {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .logo .desktop {
    display: none;
  }

  .logo .mobile {
    display: flex;
    width: 45vw;
    max-width: 250px;
    min-width: 170px;
    padding-left: 10px;
  }

  .nav .logo img {
    /* max-width: 65vw; */
    margin: auto;
    /* margin-top: 0px; */
  }

  body nav .nav-menu {
    width: 10%;
  }

  .hamburger-menu {
    margin: auto;
    /* margin-left: auto; */
    /* margin-right: 2rem; */
    /* margin-top: 7px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 34px;
    height: 23px;
    /* background-color: palegoldenrod; */
  }

  .hamburger-menu .ham-line {
    width: 100%;
    height: 3px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
  }

  .sidebar {
    display: block;
    position: fixed;
    top: 0;
    z-index: 99;
    height: 100vh;
    max-height: 100vh;
    width: 35vw;
    min-width: 300px;
    background-color: rgb(250, 250, 250);
    float: right;
    left: 100vw;
    transform: translateX(0%);
    transition: 0.4s ease;
    list-style: none;
    overflow: hidden;
  }

  .sidebar .cross {
    width: 40px;
    height: 40px;
    /* background-color: red; */
    margin-left: auto;
    margin-right: 30px;
    margin-top: 20px;
    position: relative;
  }

  .sidebar .cross::before,
  .sidebar .cross::after {
    content: " ";
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    transform-origin: center;
  }

  .sidebar li {
    list-style: none;
  }

  .sidebar li a {
    color: rgb(85, 85, 85);
    text-decoration: none;
  }

  .sidebar.active {
    transform: translateX(-100%);
  }

  .sidebar .cross::before {
    transform: rotateZ(45deg);
  }
  .sidebar .cross::after {
    transform: rotateZ(-45deg);
  }

  .sidebar .pages {
    margin-top: 20px;
  }

  .sidebar .pages .side-link {
    font-family: "poppins";
    padding: 15px 0px 15px 20px;
    border-bottom: 1px rgb(214, 214, 214) solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }

  .side-link i {
    margin-right: 30px;
    font-size: 32px;
    transition: 0.3s ease;
    transform: rotateZ(0deg);
  }

  .sidebar .inner-list {
    margin-left: 30px;
    list-style-type: none;
    font-family: "poppins";
    font-size: 13px;
    color: rgb(80, 80, 80);
    transform: translateY(-100px);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
    max-height: 70vh;
    overflow-y: scroll;
  }

  .inner-list .inner-list-item {
    line-height: 1.5rem;
    padding: 0.4rem 0rem;
    cursor: pointer;
  }

  .no-border {
    border-bottom: none !important;
  }

  .sidebar i.turned {
    transform: rotateZ(180deg);
  }

  .inner-list.active {
    transform: translateY(0px);
    opacity: 1;
    pointer-events: all;
  }

  section.hero {
    min-height: 75vh;
    height: 800px;
  }

  .hero-text-wrapper {
    padding-left: 0;
    /* justify-content: center; */
    top: 120px;
  }

  .hero h1 {
    font-size: 7vw;
  }

  .hero .cta {
    font-size: 13px;
    padding: 0.4rem 1.3rem;
    width: 120px;
    max-width: unset;
  }

  .hero .layer-three {
    margin-left: 30vw;
  }

  .hero .hero-artboard {
    top: 25vmax;
    margin-top: 120px;
    width: 30vw;
  }

  .hero .standing-girl {
    top: 33vmax;
    margin-top: 150px;
    left: 38vw;
    width: 10vmax;
    max-height: unset;
  }

  .text-block .about-header {
    font-size: 2.5rem;
  }

  .rectangles {
    height: 350px;
    max-width: 500px;
  }

  .rectangles img,
  .rectangles svg {
    /* align-self: center; */
    padding-top: 2vh;
    width: 75vw;
  }

  .graph-container {
    width: 95vw;
    height: 95vh;
  }

  .graph-points {
    width: 100%;
    height: auto;
    min-height: 97vmin;
  }

  .graphBlob {
    font-size: 0.6em;
  }

  section.services {
    margin-top: -12vw;
  }

  .services .mobile-services {
    height: 125%;
    width: 100%;
    min-height: 200px;
  }

  .industry .industry-content {
    padding-top: 100px;
    width: 80vw;
    margin-left: 10vw;
  }

  .industry .industry-title {
    width: 90%;
    font-size: 3rem;
  }

  .industry .brandbox {
    width: 100%;
    height: 350px;
    justify-content: flex-start;
    margin-top: 0px;
  }

  .industry .brandbox img {
    width: 25%;
    max-width: 25%;
  }

  section.knowMore {
    margin-top: -15vh;
  }

  .knowMore::before {
    padding-top: 150px;
  }

  section.knowMore {
    height: 90vh;
    min-height: 1100px;
    max-height: 1250px;
  }

  .mobile-knowMore {
    min-height: 800px;
  }

  .knowMore .knowMore-flex-wrapper {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    height: 70%;
    margin-top: 10vh;
  }

  .knowMore .knowMore-flex-wrapper .knowMore-text {
    margin-left: 10vw;
    margin-top: 50px;
  }
  section.knowMore .knowMore-flex-wrapper .knowMore-title {
    font-size: 6vw;
  }
  section.knowMore .knowMore-flex-wrapper .knowMore-body {
    font-size: 19px;
  }

  section.knowMore .knowMore-flex-wrapper .knowMore-graphic {
    align-self: center;
    max-width: 85vw;
    flex: 4;
  }

  .knowMore svg.mobile-knowMore {
    transform: scaleX(-1);
  }

  .knowMore .knowMore-graphic svg {
    overflow: visible !important;
  }

  .knowMore::after {
    content: "";
    width: 100vw;
    height: 200px;
    position: absolute;
    bottom: 0;
    background-color: #f6f6f6;
    z-index: -2;
  }
}

@media all and (max-width: 768px) {
  .text-block {
    width: 100%;
  }

  .img-space {
    width: 100%;
    min-height: 25vh;
  }

  .first {
    order: 1;
  }

  .first > * {
    transform: translateY(0);
  }

  .second {
    order: 2;
  }

  .third {
    order: 3;
  }

  .fourth {
    order: 4;
  }

  .fifth {
    order: 5;
  }

  .sixth {
    order: 6;
  }

  .house {
    /* background-image: url(/src/img/svgGraphics/houseMobile.svg); */
    min-height: 300px;
    margin: 0px 0px 50px 0px;
    background-position: center;
    max-width: 85vw;
    overflow: visible;
  }

  .multi-board {
    /* background-image: url(/src/img/svgGraphics/mobileMultiboard.svg); */
    min-height: 250px;
    height: 80vmin;
    max-height: 400px;
    margin: 40px 0px;
    background-position: center;
  }

  /* SERVICES */

  .services-text-wrapper {
    /* top: 350px; */
    padding-left: 5vw;
    padding-top: 40px;
  }

  .services-text-wrapper .services-title {
    font-size: 8vw;
  }

  .services-text-wrapper .services-para {
    width: 85vw;
    min-width: 300px;
  }

  section.services {
    margin-top: -15vw;
  }

  .img-space.sixth.rectangles {
    padding-left: 10vw;
  }

  .rectangles img,
  .rectangles svg {
    align-self: center;
  }

  section.knowMore {
    height: 115vh;
    min-height: 1000px;
  }
}
