@media all and (min-aspect-ratio: 18/9) and (min-width: 1800px) {
  .hero .hero-artboard {
    top: 30vh;
  }

  .hero .standing-girl {
    transform: scale(1.3);
    top: 50vh;
  }

  .hero .desktop-hero {
    max-height: 105vh !important;
    min-height: 105vh !important;
  }

  .hero h1 {
    font-size: 100px;
    line-height: 1.1;
  }

  .hero h3 {
    font-size: 30px;
  }

  .hero-text-wrapper {
    padding-top: 0;
    margin-top: 0;
    top: 80px;
  }
}
